stages:
  - setup_n_build
  - test
  - binaries
  - yowasp
  - trawler

variables:
  CARGO_TARGET_DIR: $CI_PROJECT_DIR/.cache/cargo_target
  CARGO_HOME: $CI_PROJECT_DIR/.cache/cargo_home
  CACHE_COMPRESSION_LEVEL: fast
  FF_USE_FASTZIP: "true"
  GIT_SUBMODULE_STRATEGY: normal
  RUST_VERSION: "1.88"
  RUSTFLAGS: ""

# Only run pipelines for merge requests, tags, and the default branch.
# https://docs.gitlab.com/ee/ci/pipelines/merge_request_pipelines.html#use-rules-to-add-jobs
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  auto_cancel:
    on_new_commit: interruptible


# Caches
#   They are designed to be pull by default so it's easy to use them in test tasks
#   Build jobs should explicitly specify a pull-push policy
.linux:
  cache: &cache_linux
    key:
      files:
        - Cargo.lock
      prefix: linux
    paths:
      - $CARGO_TARGET_DIR
      - $CARGO_HOME/registry/index/
      - $CARGO_HOME/registry/cache/
      - $CARGO_HOME/git/db/
    policy: pull
.linux:
  cache: &cache_wheel_linux
    key:
      files:
        - Cargo.lock
      prefix: linux
    paths:
      - $CARGO_TARGET_DIR
      - $CARGO_HOME/registry/index/
      - $CARGO_HOME/registry/cache/
      - $CARGO_HOME/git/db/
    policy: pull
.linux:
  cache: &cache_static_linux
    key:
      files:
        - Cargo.lock
      prefix: linux
    paths:
      - $CARGO_TARGET_DIR
      - $CARGO_HOME/registry/index/
      - $CARGO_HOME/registry/cache/
      - $CARGO_HOME/git/db/
    policy: pull
.linux:
  cache: &cache_coverage
    key:
      files:
        - Cargo.lock
      prefix: coverage
    paths:
      - $CARGO_TARGET_DIR
      - $CARGO_HOME/registry/index/
      - $CARGO_HOME/registry/cache/
      - $CARGO_HOME/git/db/
    policy: pull
.surfer:
  cache: &cache_swim
    key:
      files:
        - Cargo.lock
      prefix: swim
    paths:
      - $CARGO_TARGET_DIR
      - $CARGO_HOME/registry/index/
      - $CARGO_HOME/registry/cache/
      - $CARGO_HOME/git/db/
    policy: pull
.surfer:
  cache: &cache_surfer
    key:
      files:
        - Cargo.lock
      prefix: surfer
    paths:
      - $CARGO_TARGET_DIR
      - $CARGO_HOME/registry/index/
      - $CARGO_HOME/registry/cache/
      - $CARGO_HOME/git/db/
    policy: pull
.yowasp:
  cache: &cache_yowasp
    key:
      files:
        - Cargo.lock
      prefix: yowasp
    paths:
      - $CARGO_TARGET_DIR
      - $CARGO_HOME/registry/index/
      - $CARGO_HOME/registry/cache/
      - $CARGO_HOME/git/db/
    policy: pull
.tools:
  cache: &cache_tools
    key:
      files:
        - Cargo.lock
      prefix: tools-$RUST_VERSION
    paths:
      - $CARGO_HOME/bin/
      - $CARGO_HOME/.crates.toml
      - $CARGO_HOME/.crates2.json
    policy: pull

# Build jobs
build:linux:
  stage: setup_n_build
  image: "rust:$RUST_VERSION"
  cache:
    - <<: *cache_linux
      policy: pull-push
  script:
    - cargo build --workspace --locked

build:tools:
  stage: setup_n_build
  image: "rust:$RUST_VERSION"
  cache:
    - <<: *cache_tools
      policy: pull-push
  script:
    - cargo install --locked gitlab_clippy

build:surfer-plugin:
  stage: setup_n_build
  image: "rust:$RUST_VERSION"
  cache:
    - <<: *cache_surfer
      policy: pull-push
  script:
    - rustup target add wasm32-unknown-unknown
    - cargo build --locked --target wasm32-unknown-unknown -p spade-surfer-plugin --release
    - cp $CARGO_TARGET_DIR/wasm32-unknown-unknown/release/spade_surfer_plugin.wasm .
  artifacts:
    paths:
      - spade_surfer_plugin.wasm
    # These things are pretty small, and by doing this we can avoid having to rebuild
    # this on user devices a lot of the time
    expire_in: 3 months

# Check jobs
check:cargo-fmt:
  needs: []
  stage: test
  image: "rust:$RUST_VERSION"
  before_script:
    - rustup component add rustfmt
  script:
    - cargo fmt -- --check

check:typos-and-todos:
  needs: []
  stage: test
  image: "rust:$RUST_VERSION"
  before_script:
    - apt update
    - apt install -y wget
    - wget https://github.com/crate-ci/typos/releases/download/v1.42.0/typos-v1.42.0-x86_64-unknown-linux-musl.tar.gz -O typos.tar.gz
    # Extract only the typos executable to not get a docs folder which the typo checker
    # will find typos in
    - tar xzf typos.tar.gz ./typos
  script:
    - ./typos
    # invert exit code of grep while still printing all matches
    - set -e; find . -name "*.rs" | xargs grep -Ei "// *TODO" || exit 0 && exit 1
  after_script:
    - >
      if [ $CI_JOB_STATUS == 'success' ]; then
        echo 'SUCCESS'
      else
        echo 'Running again to give you all output since the test failed'
        ./typos || echo ""
        find . -name "*.rs" | xargs grep -Ei "// *TODO" || echo ""
      fi

check:clippy:
  stage: test
  image: "rust:$RUST_VERSION"
  needs: [build:linux]
  cache:
    <<: *cache_linux
  variables:
    # We allow clippy to fail
    RUSTFLAGS: ""
  before_script:
    - rustup component add clippy
    - cargo clippy -V
  script:
    - cargo clippy --locked --workspace --exclude spade-cxx -- --allow clippy::useless_format
  after_script:
    - cargo clippy --locked --workspace --exclude spade-cxx --message-format=json -- --allow clippy::useless_format | $CARGO_HOME/bin/gitlab-clippy > gl-code-quality-report.json
  artifacts:
    reports:
        codequality: gl-code-quality-report.json
    expire_in: 1 week

# Test jobs
test:linux:
  stage: test
  image: "rust:$RUST_VERSION"
  needs: [build:linux]
  cache:
    <<: *cache_linux
  before_script:
    - cargo -V
    - rustc -V
  script:
    - cargo test --locked --color=always

test:swim-tests:
  image: "rust:$RUST_VERSION"
  stage: test
  # Since this is a long running test, we'll give it a head start even if this
  # means unnecessarily double 
  needs: []
  cache:
    - <<: *cache_swim
      paths:
        # Swim puts the maturin target dir in another folder by overriding
        # $CARGO_TARGET_DIR. We'll just cache that here
        - swim_tests/build/maturin_target
        - $CARGO_TARGET_DIR
        - $CARGO_HOME/registry/index/
        - $CARGO_HOME/registry/cache/
        - $CARGO_HOME/git/db/
        - $CARGO_HOME/bin/
        - $CARGO_HOME/.crates.toml
        - $CARGO_HOME/.crates2.json
      policy: pull-push
  script:
    - apt update
    - apt install -y iverilog python3-dev python3-venv
    - cargo install --git https://gitlab.com/spade-lang/swim --locked
    - cd swim_tests
    - $CARGO_HOME/bin/swim test


test:coverage:
  # No need to parallelize until we know if the project even builds
  needs: [build:linux]
  image: xd009642/tarpaulin
  cache:
    - <<: *cache_coverage
      policy: pull-push
  variables:
    APT_PYTHON_VERSION: "3"
  script:
    - apt-get install -y pkg-config
    # spade-python currently does not build with tarpaulin, but we also don't
    # have many tests there so we'll ignore it
    - cargo tarpaulin --locked --workspace --exclude spade-python --exclude spade-cxx --exclude spade-macros --exclude spade-surfer-plugin --out xml --engine llvm
  coverage: '/^\d+.\d+% coverage/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: cobertura.xml

      

# Yowasp jobs
yowasp:build:
  stage: yowasp
  image: alpine:latest
  needs: []
  variables:
    CARGO_HOME: null
  cache:
    - <<: *cache_yowasp
      policy: pull-push
  before_script:
    - apk add --update-cache --repository http://dl-cdn.alpinelinux.org/alpine/edge/community/ curl npm git
    - apk add build-base rustup python3
    - rustup-init --default-toolchain stable -y
    - source $HOME/.cargo/env
  script:
    - rustup toolchain install stable
    - rustup target add wasm32-wasip1
    # We want to be able to pre-build this on merge requests, setting the
    # UPSTREAM_BRANCH variable in a job that triggers this one allows changing the
    # configuration
    - cd yowasp
    - ./build.sh
    - ./package-npmjs.sh
  artifacts:
    paths:
      # Path of our artifacts
      - yowasp/npmjs/dist 

yowasp:publish:
  stage: yowasp
  image: alpine:latest
  needs:
    - job: yowasp:build
      artifacts: true
  before_script:
    - apk add --update-cache --repository http://dl-cdn.alpinelinux.org/alpine/edge/community/ npm
  script:
    - "[[ '1' == $(ls yowasp/npmjs/dist | wc -l) ]]"
    # NOTE: If NPM_ACCESS_TOKEN is set to protected and the CI flow is running on a non-protected
    # branch, it will silently fail. Make sure to use a protected branch for this step
    - npm config set //registry.npmjs.org/:_authToken ${NPM_ACCESS_TOKEN}
    - cat ~/.npmrc
    - npm publish --tag latest yowasp/npmjs/dist/$(ls yowasp/npmjs/dist)
  rules:
    # only publish on the main branch
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      when: always
    - when: never

yowasp:playground:
  stage: yowasp
  needs: [yowasp:publish]
  trigger: spade-lang/playground
  rules:
    # only publish on the main branch
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      when: always
    - when: never

 
trawler:
    stage: trawler
    allow_failure: true
    variables:
      UPSTREAM_BRANCH: $CI_COMMIT_REF_NAME
      UPSTREAM_URL: $CI_MERGE_REQUEST_SOURCE_PROJECT_URL
    trigger: spade-lang/trawler
    

build:wheel-manylinux:
  cache:
    - <<: *cache_wheel_linux
      policy: pull-push
  image: quay.io/pypa/manylinux_2_34_x86_64
  stage: test
  before_script:
    - curl https://sh.rustup.rs -sSf | sh -s -- -y
    - source $CARGO_HOME/env
    - /opt/python/cp38-cp38/bin/pip install maturin
  script:
    - /opt/python/cp38-cp38/bin/maturin build -i /opt/python/cp38-cp38/bin/python -m spade-python/Cargo.toml
  artifacts:
    paths:
      - /builds/spade-lang/spade/target/wheels/*.whl


build:static:
  cache:
    - <<: *cache_static_linux
      policy: pull-push
  image: "rust:$RUST_VERSION-alpine"
  stage: test
  before_script:
    - apk add git musl-dev g++
  script:
    - cargo build --locked --release --workspace --exclude spade-python --exclude spade-language-server --exclude spade-surfer-plugin --target x86_64-unknown-linux-musl
    - strip $CARGO_TARGET_DIR/x86_64-unknown-linux-musl/release/spade
  artifacts:
    paths:
      - target/x86_64-unknown-linux-musl/release/spade
      - target/x86_64-unknown-linux-musl/release/build/spade-cxx-*/out/cxxbridge/include/spade-cxx/src/spade.rs.*
      - target/x86_64-unknown-linux-musl/release/build/spade-cxx-*/out/libspade-cxx.a

    
